# ACTIVITY 11: RETRIEVING DATA CORRECTLY FROM DATABASES

In [13]:
#Import libraries
import sqlite3

## Connect to petsDB and check whether the connection has been successful

In [14]:
conn = sqlite3.connect("petsdb")

In [15]:
# function to make sure the connection is successful

def is_opened(conn):
    try:
        conn.execute('SELECT * FROM persons LIMIT 1')
        return True
    except:
        print('Connection closed')
        return False

print(is_opened(conn))

True

In [17]:
conn.close()

In [18]:
print(is_opened(conn))

Connection closed
False

## Find the different age groups in the persons database

In [24]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    rows= cursor.execute("PRAGMA table_info([persons])")
    for row in rows:
        print(row)

(0, 'id', 'INTEGER', 0, None, 0)
(1, 'first_name', 'TEXT', 0, None, 0)
(2, 'last_name', 'TEXT', 0, None, 0)
(3, 'age', 'INTEGER', 0, None, 0)
(4, 'city', 'TEXT', 0, None, 0)
(5, 'zip_code', 'INTEGER', 0, None, 0)

In [43]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    rows= cursor.execute("SELECT * FROM persons LIMIT 10")
    for row in rows:
        print(row)

(1, 'Erica', None, 22, 'south port', 2345678)
(2, 'Jordi', None, 73, 'east port', 123456)
(3, 'Chasity', None, 70, 'new port', 76856785)
(4, 'Gregg', None, 31, 'new port', 76856785)
(5, 'Tony', 'Lindgren', 7, 'west port', 2345678)
(6, 'Cary', None, 73, 'new port', 76856785)
(7, 'Gabe', 'Thompson', 54, 'new port', 9756543)
(8, 'Francisca', None, 14, 'west port', 123456)
(9, 'Katelyn', 'Torphy', 49, 'east port', 9756543)
(10, 'Raleigh', None, 68, 'new port', 2345678)

In [29]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    rows= cursor.execute("select age,count(*) from persons GROUP BY age")
    for row in rows:
        print('There are {} people aged {}'.format(row[1], row[0]))

There are 2 people aged 5
There are 1 people aged 6
There are 1 people aged 7
There are 3 people aged 8
There are 1 people aged 9
There are 2 people aged 11
There are 3 people aged 12
There are 1 people aged 13
There are 4 people aged 14
There are 2 people aged 16
There are 2 people aged 17
There are 3 people aged 18
There are 1 people aged 19
There are 3 people aged 22
There are 2 people aged 23
There are 3 people aged 24
There are 2 people aged 25
There are 1 people aged 27
There are 1 people aged 30
There are 3 people aged 31
There are 1 people aged 32
There are 1 people aged 33
There are 2 people aged 34
There are 3 people aged 35
There are 3 people aged 36
There are 1 people aged 37
There are 2 people aged 39
There are 1 people aged 40
There are 1 people aged 42
There are 2 people aged 44
There are 2 people aged 48
There are 1 people aged 49
There are 1 people aged 50
There are 2 people aged 51
There are 2 people aged 52
There are 2 people aged 53
There are 2 people aged 54
There are 1 people aged 58
There are 1 people aged 59
There are 1 people aged 60
There are 1 people aged 61
There are 2 people aged 62
There are 1 people aged 63
There are 2 people aged 65
There are 2 people aged 66
There are 1 people aged 67
There are 3 people aged 68
There are 1 people aged 69
There are 1 people aged 70
There are 4 people aged 71
There are 1 people aged 72
There are 5 people aged 73
There are 3 people aged 74

## Find the age group that has maximum number of people

In [36]:
for ppl, age in cursor.execute('SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC'):
    print('Highest number of people fall under {} age group and there are {} people'.format(age, ppl))
    break

Highest number of people fall under 73 age group and there are 5 people

## Find people who do not have a last name

In [42]:
rows =  cursor.execute('SELECT id,first_name FROM persons WHERE last_name is null')
for row in rows:
    print('People with id {} and first_name {} has no last_name'.format(row[0],row[1]))

People with id 1 and first_name Erica has no last_name
People with id 2 and first_name Jordi has no last_name
People with id 3 and first_name Chasity has no last_name
People with id 4 and first_name Gregg has no last_name
People with id 6 and first_name Cary has no last_name
People with id 8 and first_name Francisca has no last_name
People with id 10 and first_name Raleigh has no last_name
People with id 11 and first_name Maria has no last_name
People with id 12 and first_name Mariane has no last_name
People with id 13 and first_name Mona has no last_name
People with id 14 and first_name Kayla has no last_name
People with id 15 and first_name Karlie has no last_name
People with id 16 and first_name Morris has no last_name
People with id 17 and first_name Sandy has no last_name
People with id 18 and first_name Hector has no last_name
People with id 19 and first_name Hiram has no last_name
People with id 20 and first_name Tressa has no last_name
People with id 21 and first_name Berry has no last_name
People with id 22 and first_name Pearline has no last_name
People with id 23 and first_name Maynard has no last_name
People with id 24 and first_name Dorian has no last_name
People with id 25 and first_name Mylene has no last_name
People with id 26 and first_name Lafayette has no last_name
People with id 29 and first_name Tara has no last_name
People with id 30 and first_name Destiny has no last_name
People with id 31 and first_name Lesly has no last_name
People with id 32 and first_name Perry has no last_name
People with id 35 and first_name Maritza has no last_name
People with id 37 and first_name Grant has no last_name
People with id 39 and first_name Laury has no last_name
People with id 40 and first_name Name has no last_name
People with id 41 and first_name Estefania has no last_name
People with id 42 and first_name Destiney has no last_name
People with id 43 and first_name Jaquelin has no last_name
People with id 45 and first_name Alfonzo has no last_name
People with id 46 and first_name Lisandro has no last_name
People with id 49 and first_name Priscilla has no last_name
People with id 50 and first_name Elenora has no last_name
People with id 52 and first_name Rudolph has no last_name
People with id 56 and first_name Ona has no last_name
People with id 57 and first_name Rebeca has no last_name
People with id 59 and first_name Sigurd has no last_name
People with id 63 and first_name Alice has no last_name
People with id 64 and first_name Dane has no last_name
People with id 65 and first_name Judge has no last_name
People with id 66 and first_name Allene has no last_name
People with id 67 and first_name Jalen has no last_name
People with id 70 and first_name Myron has no last_name
People with id 73 and first_name Travon has no last_name
People with id 74 and first_name Shayna has no last_name
People with id 75 and first_name Myah has no last_name
People with id 82 and first_name Letha has no last_name
People with id 84 and first_name Felton has no last_name
People with id 85 and first_name London has no last_name
People with id 86 and first_name Koby has no last_name
People with id 87 and first_name Golden has no last_name
People with id 89 and first_name Anissa has no last_name
People with id 91 and first_name Sid has no last_name
People with id 96 and first_name Ernesto has no last_name
People with id 97 and first_name Josianne has no last_name

In [54]:
rows =  cursor.execute('SELECT count(*) FROM persons WHERE last_name is null')
for row in rows:
    print('{} people have no last_name'.format(row[0]))

60 people have no last_name

## Find out people who have more than one pet

In [44]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    rows= cursor.execute("PRAGMA table_info([pets])")
    for row in rows:
        print(row)

(0, 'owner_id', 'INTEGER', 0, None, 0)
(1, 'pet_name', 'TEXT', 0, None, 0)
(2, 'pet_type', 'REAL', 0, None, 0)
(3, 'treatment_done', 'INTEGER', 0, None, 0)

In [45]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    rows= cursor.execute("SELECT * FROM pets LIMIT 10")
    for row in rows:
        print(row)

(57, 'mani', 1.0, 0)
(80, 'tamari', None, 0)
(25, 'raba', None, 0)
(27, 'olga', None, 0)
(60, 'raba', None, 0)
(37, 'dara', 1.0, 0)
(33, 'chegal', 1.0, 0)
(16, 'dara', None, 0)
(100, 'chegal', None, 0)
(46, 'raba', None, 1)

In [48]:
rows = cursor.execute('SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)')
for row in rows:
    print('{} People has more than one pets'.format(row[0]))

43 People has more than one pets

## Find out how many pets have received treatment

In [46]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    rows= cursor.execute("select count(*) from pets where treatment_done = 1")
    for row in rows:
        print('{} pets received treatment'.format(row[0]))

36 pets received treatment

## Find out how many pets have received treatment and the type of pet is known

In [50]:
with sqlite3.connect('petsdb') as conn:
    cursor = conn.cursor()
    rows= cursor.execute("select count(*) from pets where treatment_done = 1 AND pet_type IS NOT NULL")
    for row in rows:
        print(' There are {} pets which received treatment and the type of pet is known'.format(row[0]))

 There are 16 pets which received treatment and the type of pet is known

## Find out how many pets are from the city called east port

In [51]:
rows = cursor.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city="east port"')
for row in rows:
    print(' {} pets are from the city East Port'.format(row[0]))

 49 pets are from the city East Port

## Find out how many pets are from the city called east port and who received a treatment

In [53]:
rows = cursor.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city="east port" AND pets.treatment_done = 1')
for row in rows:
    print(' {} pets are from the city East Port and received treatment'.format(row[0]))

 11 pets are from the city East Port and received treatment